* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(213, 211, 211);
	--color-secondary: #f1c40f;
}

body {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: 'Noto Sans', sans-serif;
	background-color: black;
	height: 100%;
}

/*! COIN CONTAINER */
.coin__container {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	animation: move-to-right 2s;
	height: 100%;
	align-items: baseline;
}
.right__side::-webkit-scrollbar {
	display: none;
}

.coin__list {
	background-color: black;
	display: flex;
	font-size: 1rem;
	color: var(--color-primary);
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	animation: move-to-right 2s;
}

/*! CARD */

.card {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	border-bottom: 1px solid rgb(43, 43, 43);
	font-size: 1rem;
	opacity: 0.9;
	margin-left: 0.6rem;
	border-left: 3px solid black;
	width: 95%;
}

.card img {
	display: flex;
	width: 2.5rem;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.card:hover {
	color: white;
	opacity: 1;
	/* background-color: rgb(28, 27, 27); */
}

/*! COIN NAME IN LIST */
.coin__name {
	width: 10rem;
	font-size: 1.4rem;
	font-weight: 700;
	margin-left: 1rem;
	letter-spacing: 0.5;
	color: rgb(213, 211, 211);
}

.coin__name:hover {
	cursor: pointer;
}

.symbol {
	color: rgb(128, 124, 124);
	width: 5rem;
	font-size: 1rem;
	margin-left: 0.5rem;
}

.price {
	width: 5rem;
	margin-left: 2.5rem;
	color: azure;
	font-weight: 700;
}

.price_change_percentage_24h {
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 2px 5px;
	font-weight: 700;
}
/*!POSTIVE & NEGATIVE */
.positive {
	display: flex;
	color: rgb(70, 114, 3);
	width: 5rem;
	margin-left: 1rem;
	padding: 0.1rem 0.05rem;
	font-size: 1rem;
	justify-content: center;
	align-self: center;
	background-color: whitesmoke;
}

.negative {
	display: flex;
	color: rgb(245, 28, 28);
	width: 5rem;
	margin-left: 1rem;
	padding: 0.1rem o.3rem;
	font-size: 1rem;
	align-self: center;
	justify-content: center;
}

.positive_info {
	font-size: 1.2rem;
	color: #00897b;
	font-weight: 700;
}

.negative_info {
	font-size: 1.2rem;
	font-weight: 700;
	color: red;
}

/*! LEFT SIDE MAIN WINDOW */
.main {
	display: flex;
	height: 100vh;
}

.left__side {
	height: 100%;
	width: 75%;
	position: fixed;
}

.tradingview-widget-container {
	display: flex;
	width: 74vw;
	height: 50rem;
	margin-right: auto;
	margin-left: auto;
}

/*! RIGHT SIDE */
.right__side {
	overflow: auto;
	width: 25%;
	margin-left: auto;
	margin-top: 5rem;
	border-left: 1px solid rgb(84, 82, 82);
	background-color: rgb(10, 10, 10);
}

.coin__header {
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0.5rem;
	animation: move-to-right 2s;
	position: fixed;
	overflow: hidden;
	top: 0;
}

/*! NAV BAR */
.infobar {
	font-size: 1.4rem;
	font-weight: 700;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 25%;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.infobar__dynamic {
	display: flex;
	width: 100%;
	font-size: 1.2rem;
}

.market__cap,
.volume24h,
.max__supply,
.circulating__supply {
	width: 100%;
	display: flex;
	flex: 25%;
	justify-content: center;
	align-content: center;
}

.column {
	width: 100%;
	display: flex;
	flex: 25%;
	justify-content: center;
	align-content: center;
}

.infobar__details {
	width: 100%;
	display: flex;
	flex: 25%;
	margin-bottom: 3rem;
}

.main__heading {
	width: 100%;
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	justify-content: flex-start;
	padding: 0.8rem 1rem;
	align-items: center;
	margin-bottom: 4rem;
	background: linear-gradient(
		74.3deg,
		rgb(68, 17, 28) 17.4%,
		rgb(95, 24, 40) 34.7%,
		rgb(122, 31, 51) 51.8%,
		rgb(149, 38, 62) 67.4%,
		rgb(163, 41, 68) 89.6%
	);
}

.main__coin__info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 60rem;
}

.main__coin__name {
	display: flex;
}

.main__coin__logo img {
	display: flex;
	margin-right: 0.5rem;
	height: 3rem;
	width: 3rem;
	margin-left: 0rem;
}

.main__coin__ticker {
	display: flex;
	font-size: 1.2rem;
	color: rgb(157, 160, 160);
	margin-left: 0.5rem;
	margin-right: 2rem;
}

.price__block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 5rem;
}

.main__price {
	font-size: 2.1rem;
}

/*! KEY FRAMES */
@keyframes move-to-right {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0px);

		opacity: 1;
	}
}

.active {
	color: white;
	opacity: 1;
	border-radius: 5px;

	background: linear-gradient(
		74.3deg,
		rgb(68, 17, 28) 17.4%,
		rgb(95, 24, 40) 34.7%,
		rgb(122, 31, 51) 51.8%,
		rgb(149, 38, 62) 67.4%,
		rgb(163, 41, 68) 89.6%
	);

	border-left: 3px solid white;
}

/*! MEDIA QUERIES */

/*! Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.left__side {
		display: flex;
		flex-direction: column;
		width: 65%;
	}

	.right__side {
		width: 35%;
		display: flex;
		flex-direction: column;
	}

	.main__heading {
		margin-bottom: 1rem;
	}

	.main__coin__name {
		font-size: 1rem;
	}

	.price {
		font-size: 1rem;
	}

	.coin__container {
		font-size: 0.6rem;
		display: flex;
		flex-direction: column;
	}
	.coin__name {
		font-size: 1rem;
	}
	.coin__header {
		font-size: 0.7rem;
	}
	.symbol {
		display: none;
	}

	.price_change_percentage_24h {
		display: none;
	}

	.infobar {
		width: 100%;
		font-size: 1rem;
		align-items: center;
		align-self: center;
		max-height: 3rem;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.infobar__details {
		font-size: 0.9rem;
	}

	.circulating__supply {
		display: flex;
		justify-content: center;
	}

	.tradingview-widget-container {
		height: 40rem;
		width: 90%;
	}

	.infobar__dynamic {
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 1rem;
	}
}
/*! MEDIUM */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
	.left__side {
		display: flex;
		flex-direction: column;
		width: 65%;
	}

	.right__side {
		width: 35%;
		display: flex;
		flex-direction: column;
	}

	.main__heading {
		margin-bottom: 1rem;
	}

	.main__coin__name {
		font-size: 1rem;
	}

	.price {
		font-size: 1rem;
	}

	.coin__container {
		font-size: 0.6rem;
		display: flex;
		flex-direction: column;
	}
	.coin__name {
		font-size: 1rem;
	}
	.coin__header {
		font-size: 0.7rem;
	}
	.symbol {
		display: none;
	}

	.price_change_percentage_24h {
		display: none;
	}

	.infobar {
		width: 100%;
		font-size: 1rem;
		align-items: center;
		align-self: center;
		max-height: 3rem;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.infobar__details {
		font-size: 0.9rem;
	}

	.circulating__supply {
		display: flex;
		justify-content: center;
	}

	.tradingview-widget-container {
		height: 40rem;
		width: 90%;
	}

	.infobar__dynamic {
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 1rem;
	}
}

/*! Portrait */
@media only screen and (max-device-width: 575px) {
	.left__side {
		display: flex;
		flex-direction: column;
		width: 62%;
		background-color: blueviolet;
	}

	.right__side {
		width: 38%;
		display: flex;
		flex-direction: column;
	}

	.main__coin__info {
		width: 12rem;
	}

	.price__block {
		margin-left: 1.3rem;
	}

	.main__price {
		font-size: 1.5rem;
	}

	.main__coin__ticker {
		display: none;
	}

	.main__heading {
		margin-bottom: 1rem;
	}

	.main__coin__name {
		font-size: 1rem;
	}

	.price {
		font-size: 0.9rem;
	}

	.coin__container {
		font-size: 0.6rem;
		display: flex;
		flex-direction: column;
	}

	.card {
		max-height: 2.75rem;
	}

	card:hover {
		max-height: 2.5rem;
	}

	.card img {
		height: 50px;
		width: auto;
	}
	.coin__name {
		font-size: 0.9rem;
	}
	.coin__header {
		font-size: 0.7rem;
	}
	.symbol {
		display: none;
	}

	.price_change_percentage_24h {
		display: none;
	}

	.infobar {
		width: 100%;
		font-size: 1rem;
		align-items: center;
		align-self: center;
		max-height: 3rem;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.infobar__details {
		display: flex;
		font-size: 0.9rem;
		display: flex;
		justify-content: center;
	}

	.infobar__dynamic {
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		flex-direction: column;
	}

	.ms,
	.cs,
	.col3,
	.col4 {
		display: none;
	}

	.tradingview-widget-container {
		height: 40rem;
		width: 90%;
	}

	.infobar__dynamic {
		flex-direction: column;
		font-size: 1rem;
	}

	.max__supply,
	.circulating__supply,
	.max__supply__details,
	.circulating__supply__details {
		display: none;
	}
}

/*! SMALL */

@media only screen and (max-device-width: 767px) {
	.left__side {
		flex-direction: column;
		width: 62%;
		background-color: black;
	}

	.right__side {
		width: 38%;
		display: flex;
		flex-direction: column;
	}

	.main__coin__info {
		width: 8rem;
	}

	.main__price {
		font-size: 1.1rem;
	}

	.main__coin__ticker {
		display: none;
	}

	.price__block {
		margin-left: 1.3rem;
	}

	.main__heading {
		margin-bottom: 1.1rem;
	}

	.main__coin__name {
		font-size: 1.1rem;
	}

	.price {
		font-size: 0.9rem;
	}

	.coin__container {
		font-size: 0.6rem;
		display: flex;
		flex-direction: column;
	}

	.card {
		max-height: 2.75rem;
	}

	card:hover {
		max-height: 2.5rem;
	}

	.card img {
		height: 50px;
		width: auto;
	}
	.coin__name {
		font-size: 0.9rem;
	}
	.coin__header {
		font-size: 0.7rem;
	}
	.symbol {
		display: none;
	}

	.price_change_percentage_24h {
		display: none;
	}

	.infobar {
		width: 100%;
		font-size: 1rem;
		align-items: center;
		align-self: center;
		max-height: 3rem;
		justify-content: center;
		align-content: center;
		text-align: center;
	}

	.infobar__details {
		display: flex;
		font-size: 0.9rem;
		display: flex;
		justify-content: center;
	}

	.infobar__dynamic {
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		flex-direction: column;
	}

	.ms,
	.cs,
	.col3,
	.col4 {
		display: none;
	}

	.volume24h,
	.market__cap {
		color: whitesmoke;
	}
	.tradingview-widget-container {
		height: 40rem;
		width: 90%;
	}

	.infobar__dynamic {
		flex-direction: column;
		font-size: 1rem;
	}

	.max__supply,
	.circulating__supply,
	.max__supply__details,
	.circulating__supply__details {
		display: none;
	}

	.price_change_24h,
	.market_cap__details {
		font-size: 0.9rem;
	}
}
