* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(213, 211, 211);
	--color-secondary: #f1c40f;
}

body {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: 'Noto Sans', sans-serif;
	background-color: black;
	height: 100%;
}

/*! COIN CONTAINER */
.coin__container {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	animation: move-to-right 2s;
	height: 100%;
	align-items: baseline;
}

.coin__list {
	background-color: black;
	display: flex;
	font-size: 1rem;
	color: var(--color-primary);
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	animation: move-to-right 2s;
}

/*! CARD */

.card {
	display: flex;
	padding: 5px;
	align-items: center;
	border-bottom: 1px solid rgb(43, 43, 43);
	font-size: 1rem;
	opacity: 0.9;
	margin-left: 1rem;
}

.card img {
	display: flex;
	width: 2.5rem;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.card:hover {
	color: white;
	opacity: 1;
	background-color: rgb(28, 27, 27);
}

/*! COIN NAME IN LIST */
.coin__name {
	width: 10rem;
	font-size: 1.4rem;
	font-weight: 700;
	margin-left: 1rem;
	letter-spacing: 0.5;
	color: azure;
}

.coin__name:hover {
	cursor: pointer;
}

.symbol {
	color: rgb(128, 124, 124);
	width: 5rem;
	font-size: 1rem;
	margin-left: 0.5rem;
}

.price {
	width: 5rem;
	margin-left: 2.5rem;
	color: azure;
}

.positive {
	color: greenyellow;
	width: 10rem;
	margin-left: 1rem;
}

.negative {
	color: red;
	width: 10rem;
	margin-left: 1rem;
}

/*! LEFT SIDE MAIN WINDOW */
.main {
	display: flex;
	height: 100vh;
}

.left__side {
	height: 100%;
	width: 80%;
	position: fixed;
}

.tradingview-widget-container {
	display: flex;
	/* width: 89rem; */
	width: 74vw;
	height: 50rem;
	margin-right: auto;
	margin-left: auto;
}

/*! RIGHT SIDE */
.right__side {
	overflow: auto;
	overflow-x: hidden;
	width: 20%;
	margin-left: auto;
	border-left: 1px solid rgb(84, 82, 82);
	background-color: rgb(10, 10, 10);
}

.coin__header {
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0.5rem;
	animation: move-to-right 2s;
}

/*! NAV BAR */
.infobar {
	font-size: 1.4rem;
	font-weight: 700;
	display: flex;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.market__cap,
.volume24h,
.max__supply,
.circulating__supply {
	display: flex;
	flex-direction: column;
}

.main__heading {
	width: 100%;
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
}

.main__coin__info {
	display: flex;
	align-items: center;
}

.main__coin__logo img {
	display: flex;
	margin-right: 0.5rem;
	height: 3rem;
	width: 3rem;
	margin-left: 3rem;
}

.main__coin__ticker {
	display: flex;
	font-size: 1.2rem;
	color: rgb(157, 160, 160);
	margin-left: 0.5rem;
	margin-right: 2rem;
}

.main__price {
	display: flex;
}

/*! KEY FRAMES */
@keyframes move-to-right {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0px);

		opacity: 1;
	}
}