* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(213, 211, 211);
	--color-secondary: #f1c40f;
}

body {
	font-size: 1rem;
	color: var(--color-primary);
	font-family: 'Noto Sans', sans-serif;
	background-color: black;
	height: 100%;
}

/*! COIN CONTAINER */
.coin__container {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	animation: move-to-right 2s;
	height: 100%;
	align-items: baseline;
}
.right__side::-webkit-scrollbar {
	display: none;
}

.coin__list {
	background-color: black;
	display: flex;
	font-size: 1rem;
	color: var(--color-primary);
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	animation: move-to-right 2s;
}

/*! CARD */

.card {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	border-bottom: 1px solid rgb(43, 43, 43);
	font-size: 1rem;
	opacity: 0.9;
	margin-left: 0.6rem;
	border-left: 3px solid black;
	width: 95%;
}

.card img {
	display: flex;
	width: 2.5rem;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.card:hover {
	color: white;
	opacity: 1;
	/* background-color: rgb(28, 27, 27); */
}

/*! COIN NAME IN LIST */
.coin__name {
	width: 10rem;
	font-size: 1.4rem;
	font-weight: 700;
	margin-left: 1rem;
	letter-spacing: 0.5;
	color: rgb(213, 211, 211);
}

.coin__name:hover {
	cursor: pointer;
}

.symbol {
	color: rgb(128, 124, 124);
	width: 5rem;
	font-size: 1rem;
	margin-left: 0.5rem;
}

.price {
	width: 5rem;
	margin-left: 2.5rem;
	color: azure;
	font-weight: 700;
}

.price_change_percentage_24h {
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 2px 5px;
	font-weight: 700;
}

.positive {
	display: flex;
	color: rgb(3, 79, 3);
	width: 5rem;
	margin-left: 1rem;
	padding: 0.1rem 0.05rem;
	font-size: 1rem;
	justify-content: center;
	align-self: center;
	background-color: whitesmoke;
}

.negative {
	display: flex;
	color: rgb(245, 28, 28);
	width: 5rem;
	margin-left: 1rem;
	padding: 0.1rem o.3rem;
	font-size: 1rem;
	align-self: center;
	justify-content: center;
}

/*! LEFT SIDE MAIN WINDOW */
.main {
	display: flex;
	height: 100vh;
}

.left__side {
	height: 100%;
	width: 75%;
	position: fixed;
}

.tradingview-widget-container {
	display: flex;
	width: 74vw;
	height: 50rem;
	margin-right: auto;
	margin-left: auto;
}

/*! RIGHT SIDE */
.right__side {
	overflow: auto;
	width: 25%;
	margin-left: auto;
	margin-top: 5rem;
	border-left: 1px solid rgb(84, 82, 82);
	background-color: rgb(10, 10, 10);
}

.coin__header {
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0.5rem;
	animation: move-to-right 2s;
	position: fixed;
	overflow: hidden;
	top: 0;
}

/*! NAV BAR */
.infobar {
	font-size: 1.4rem;
	font-weight: 700;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 25%;
	justify-content: space-evenly;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.infobar__dynamic {
	display: flex;
	width: 100%;
	font-size: 1.2rem;
}

.market__cap,
.volume24h,
.max__supply,
.circulating__supply {
	width: 100%;
	display: flex;
	flex: 25%;
	justify-content: center;
	align-content: center;
}

.column {
	width: 100%;
	display: flex;
	flex: 25%;
	justify-content: center;
	align-content: center;
}

.market__cap__details,
.volume24h__details,
.max__supply__details,
.circulating__supply__details {
}

.infobar__details {
	width: 100%;
	display: flex;
	flex: 25%;
	margin-bottom: 3rem;
}

.main__heading {
	width: 100%;
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	justify-content: flex-start;
	padding: 0.8rem 1rem;
	align-items: center;
	margin-bottom: 4rem;
	background: linear-gradient(
		74.3deg,
		rgb(68, 17, 28) 17.4%,
		rgb(95, 24, 40) 34.7%,
		rgb(122, 31, 51) 51.8%,
		rgb(149, 38, 62) 67.4%,
		rgb(163, 41, 68) 89.6%
	);
}

.main__coin__info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 60rem;
}

.main__coin__name {
	display: flex;
}

.main__coin__logo img {
	display: flex;
	margin-right: 0.5rem;
	height: 3rem;
	width: 3rem;
	margin-left: 0rem;
}

.main__coin__ticker {
	display: flex;
	font-size: 1.2rem;
	color: rgb(157, 160, 160);
	margin-left: 0.5rem;
	margin-right: 2rem;
}

.price__block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 5rem;
}

.main__price {
	font-size: 2.1rem;
}

.fa-arrow-up {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 3px;
}

/*! KEY FRAMES */
@keyframes move-to-right {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(0px);

		opacity: 1;
	}
}

.active {
	color: white;
	opacity: 1;
	border-radius: 5px;

	background: linear-gradient(
		74.3deg,
		rgb(68, 17, 28) 17.4%,
		rgb(95, 24, 40) 34.7%,
		rgb(122, 31, 51) 51.8%,
		rgb(149, 38, 62) 67.4%,
		rgb(163, 41, 68) 89.6%
	);

	border-left: 3px solid white;
}
